.fade-enter-active, .fade-leave-active {
    transition: opacity .5s ease;
}

.fade-enter-from, .fade-leave-to {
opacity: 0;
}
.bg-salmon{
    background-color: salmon;
}
[contentEditable=true]:empty:before{
    content:attr(placeholder)
}
.button {
    margin-top: 35px;
  }
  .flip-list-move {
    transition: transform 0.5s;
  }
  .no-move {
    transition: transform 0s;
  }
  .ghost {
    opacity: 0;
  }
  .list-group {
    min-height: 20px;
  }
  .list-group-item {
    cursor: move;
  }
  .list-group-item i{
    cursor: pointer;
  }
 
  .masonry { /* Masonry container */
    column-count: 6;
    column-gap: 1em;
  }
  
  .masonry-item { /* Masonry bricks or child elements */
    display: inline-block;
    margin: 0 0 1em;
  }
  .masonry-container {
    list-style: none;
    column-gap: 0;
    padding: 0;
    column-count: 5;
  }
  .masonry-card {
    width: 100%;
    height: 400px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #333;
    break-inside: avoid;
  }
  .selectExample {
    margin: 10px;
  }
  .con-select-example {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
  }
  .con-select .vs-select {
    width: 100%
  }
  @media (max-width: 550px) {
    .con-select {
      flex-direction: column;
    }
    .con-select .vs-select {
      width: 100%
    }
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
